<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new bank from <%= @bank.name %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @bank.name %></p>
    <p>lastname: <%= @bank.lastname %></p>
    <p>Email: <%= @bank.email %></p>
    <p>City: <%= @bank.city %></p>
    <p>Pin: <%= @bank.pin %></p>
    <p>Age: <%= @bank.age %></p>
  </body>
</html>