<%= form_with model: [ @order, @order.customers.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %>
  </p>

  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'private' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>