<%= form_with model: @order do |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %><br>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email%><br>
  </div>

  
  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'private' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
