<%= form_with model: order do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% order.errors.full_messages_for(:name).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %><br>
    <% order.errors.full_messages_for(:lastname).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %><br>
    <% order.errors.full_messages_for(:email).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
