<h1><%= @order.name %></h1>
<p><%= @order.lastname %></p>
<p><%= @order.email %></p>


<ol>
  <li>
    <%= link_to "Edit", edit_order_path(@order) %>
  </li> 
</ol>

 <%= button_to "Destroy this order", @order, method: :delete %>


