<h1><%= @order.name %></h1>
<p><%= @order.lastname %></p>
<p><%= @order.email %></p>


<ol>
  <li>
    <%= link_to "Edit", edit_order_path(@order) %>
  </li> 

  <li>
    <%= link_to "Destroy", bank_path(@bank), data: 
      {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } 
    %>   
  </li>
</ol>


