<h1><%= @order.name %></h1>
<p><%= @order.lastname %></p>
<p><%= @order.email %></p>


<ol>
  <li>
    <%= link_to "Edit", edit_order_path(@order) %>
  </li>
  <li>
    <%= link_to "Destroy", order_path(@order), data: 
      {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } 
    %>   
  </li>
</ol>


<h2>Customers</h2>
<%= render @order.customers %>

<h2>Add a customers:</h2>
<%= render 'customers/form' %>
