<!DOCTYPE html>
<html>
  <head>
    <title>your bank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "columns" %>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
  </head>
  <body>
    <h1 style="background-color:pink;">Banks</h1>
    <%= image_tag('download.jpeg', class: 'submit-btn') %><br>
    <%= yield %>
    <%= image_tag('rails.png', class: 'rails-pages') %><br>
    <%= link_to "w3school",  'https://www.w3schools.com/' %><br><br>
     <%= image_tag "diploma.jpg", {height: 100}  %><br>
  </body>
</html>


